* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
  font-size: $font-size-base;
  font-family: $base-font-family;
  height: 100%;
}

img {
  object-fit: cover;
}
